[submodule "voyage-ui"]
	path = voyage-ui
	url = git@github.com:madhavpujara-at/voyage-ui.git
[submodule "voyage-backend"]
	path = voyage-backend
	url = git@github.com:madhavpujara-at/voyage-backend.git
